@import './variables';



.btn-anim {
    transition: $transition;

    &:hover {
        color: $color-primary;

        span {
            color: $color-primary;
        }

        svg {
            path {
                fill: $color-primary;
                stroke: $color-primary;
            }
        }
    }

}

.socialmedialinks-anim {
    &:hover {
        svg {
            path {
                fill: $color-primary;
                transition: $transition;
            }
        }

        svg.contact {
            path {
                fill: $color-primary;

            }
        }
    }

}


.sidebarLinks {
    transition: $transition;

    &:hover {
        a {
            color: $color-primary;
            text-decoration: underline;
        }

        // svg {
        //     // transform: rotate(0);
        //     margin: 0;
        //     // width: 4em;
        //     // visibility: hidden;
        //     opacity: 0;
        // }
    }
}