@font-face {
    font-family: 'segoeui';
    src: url('/fonts/segoeui.woff2') format('woff2'),
        url('/fonts/segoeui.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}


@font-face {
    font-family: 'segoeui-bold';
    src: url('/fonts/segoeuib.woff2') format('woff2'),
        url('/fonts/segoeuib.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}