main {
    min-height: 100vh;
    border-right: 1px solid $dark-2;

}

section.main {
    width: 100%;
    min-height: 100vh;

    .container {
        min-height: 100vh;
        padding: 8em 14em;

        @include breakpoint(tablet) {
            padding: 8em 8em;
        }
    }
}

.footer {
    svg {
        width: 1rem;
        margin-bottom: -.4rem;
    }
}