h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-bold;
    font-weight: bolder;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;

    @include breakpoint(tablet) {
        font-size: 3rem;
    }

    @include breakpoint(phone) {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

}

h2 {
    font-size: 2.5rem;

    @include breakpoint(tablet) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 2rem;

    @include breakpoint(tablet) {
        font-size: 1.8rem;
    }

}

h4 {
    font-size: 1.8rem;
    letter-spacing: .02rem;
}

h5 {
    font-size: 1.5rem;
    letter-spacing: .02rem;
}

h6 {
    font-size: 1.2rem;
    letter-spacing: .02rem;

}

p,
a,
span {
    font-family: $font-normal;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: .04rem;
    margin-bottom: .4em;
    line-height: 130%;

    @include breakpoint(tablet) {
        line-height: 125%;
    }

    @include breakpoint(phone) {
        letter-spacing: 0.02rem;
    }
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

.main {
    h2 {
        font-size: 1.2rem;
        font-family: $font-normal;
        font-weight: normal;
        letter-spacing: 0.62em;
        text-align: center;
    }
}