//COLORS

$color-primary : #0094FF;
$color-secondary : #00365C;

$dark-1 : #060606;
$dark-2 : #1F1F1F;
$dark-3 : #424242;

$light-1: #FFFFFF;
$light-2: #CDCDCD;
$light-3: #A9A9A9;

//FONTS

$font-normal: 'segoeui',
'Segoe UI',
san-serif;

$font-bold: 'segoeui-bold',
'Segoe UI',
san-serif;

//MIXINS

@mixin breakpoint($point) {
    @if $point==tablet {
        @media only screen and (max-width: 1280px) {
            @content;
        }

        @media only screen and (max-height: 700px) {
            @content;
        }
    }

    @else if $point==phone {
        @media only screen and (max-width: 720px) {
            @content;
        }

        @media only screen and (max-height: 480px) {
            @content;
        }
    }
}