/* Fonts Definitions	 */
@font-face {
    font-family: "Ranade-Light";
    src:
      url("../fonts/Ranade-Light.woff2") format("woff2"),
      url("../fonts/Ranade-Light.woff") format("woff"),
      url("../fonts/Ranade-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ranade-Regular";
    src:
      url("../fonts/Ranade-Regular.woff2") format("woff2"),
      url("../fonts/Ranade-Regular.woff") format("woff"),
      url("../fonts/Ranade-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ranade-Bold";
    src:
      url("../fonts/Ranade-Bold.woff2") format("woff2"),
      url("../fonts/Ranade-Bold.woff") format("woff"),
      url("../fonts/Ranade-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Ranade-LightItalic";
    src:
      url("./fonts/Ranade-LightItalic.woff2") format("woff2"),
      url("./fonts/Ranade-LightItalic.woff") format("woff"),
      url("./fonts/Ranade-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  }