@import "./fonts.css";
@import "./home.css";
@import "./project.css";


:root {
  /* Fonts */
  --font-regular: "Ranade-Regular", sans-serif;
  --font-bold: "Ranade-Bold", sans-serif;
  --font-light: "Ranade-Light", sans-serif;
  --font-light-italic: "Ranade-LightItalic", sans-serif;


  /* Font Sizes */
  --font-size-xxs: 0.75rem;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-xs: 1.2rem;
  --font-size-xs: 1.2rem;

  /* Colors */
  --color-background: #fefefe;
  --color-text: #151515;
  --color-secondary-text: #222222;
  --color-border: #d7d7d7;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-regular);
  color: var(--color-text);
  background-color: var(--background-color);
}

p {
  color: var(--color-secondary-text);
  max-width: 600px;
  line-height: 150%;
}

a:not(.card-link) {
  position: relative;
  text-decoration: none;
  color: inherit;
}

a:not(.card-link)::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #888888;
  transition: width 0.3s;
}

a:not(.card-link):hover::after {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

strong {
  font-family: var(--font-bold);
}

.header {
  div {
    font-family: var(--font-light);
    font-size: var(--font-size-md);
  }
  div:last-child {
    color: var(--color-secondary-text);
    font-family: var(--font-light);
    font-size: var(--font-size-xxs);
  }
}

.footer {
  position: relative;
  z-index: 5;
  margin-top: 50px;
  padding: 60px 0 120px;
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
  }

  p {
    font-family: var(--font-light);
    font-size: var(--font-size-xxs);
    margin-top: 20px;
  }
}
