.content {
    display: flex;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-secondary);
    gap: 60px;

    @media (max-width: 1400px) {
        align-items: flex-start;
        flex-direction: column;
        padding: 100px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.contentLeft {
    max-width: 300px;
}

.contentLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentRight {
    max-width: 800px;

}

.contentRight p:last-child {
    font-size: 24px;
}

.contentRight p:first-child {
    font-size: 14px;
}
